$white: #fff;
$black: #000;
$blue-dark: #282f35;
$purple-dark: #4d4959;
$gray-dark: #353738;
$gray-light: #848789;
$gray-lighter: #d7d7d7;
$gray-lightest: #f7f7f7;
$gray-input-border: #d3d7d9;
$gray-input-placeholder: #929292;
$gray-cta-box: #fff;
$green: #64c29e;

$font: 'Lato', Helvetica, sans-serif;
